In [52]:
import pandas as pd

In [53]:
df=pd.read_csv("/home/hamza/Downloads/Crop.csv")

In [54]:
df.head()

                                      Crop  Min_Ph  Max_Ph Min_Temp Max_Temp
0                                    Acorn     NaN     NaN      NaN      NaN
1          Alfalfa + Orchardgrass, for hay     NaN     NaN      NaN      NaN
2  Alfalfa + Orchardgrass, for hay (cut 1)     NaN     NaN      NaN      NaN
3   Alfalfa + Smooth Brome, for green chop     NaN     NaN      NaN      NaN
4          Alfalfa + Smooth Brome, for hay     NaN     NaN      NaN      NaN

In [73]:
import random
a,b=[],[]
for i in range(737):
    a.append(random.randint(0, 100))
    b.append(random.randint(0, 100))

df['Humidity'] = a
df['smoke'] = b

In [74]:
x=df
x = x.apply(pd.to_numeric, errors='coerce').fillna(0, downcast='infer')
x.head()
x.Crop=df.Crop
x.head()

,Crop,Min_Ph,Max_Ph,Min_Temp,Max_Temp,Humidity,smoke
0,Acorn,0.0,0.0,0,0,77,36
1,"Alfalfa + Orchardgrass, for hay",0.0,0.0,0,0,4,17
2,"Alfalfa + Orchardgrass, for hay (cut 1)",0.0,0.0,0,0,98,1
3,"Alfalfa + Smooth Brome, for green chop",0.0,0.0,0,0,48,90
4,"Alfalfa + Smooth Brome, for hay",0.0,0.0,0,0,69,87

In [75]:
x.head()

,Crop,Min_Ph,Max_Ph,Min_Temp,Max_Temp,Humidity,smoke
0,Acorn,0.0,0.0,0,0,77,36
1,"Alfalfa + Orchardgrass, for hay",0.0,0.0,0,0,4,17
2,"Alfalfa + Orchardgrass, for hay (cut 1)",0.0,0.0,0,0,98,1
3,"Alfalfa + Smooth Brome, for green chop",0.0,0.0,0,0,48,90
4,"Alfalfa + Smooth Brome, for hay",0.0,0.0,0,0,69,87

In [76]:
x=df.drop(['Crop'], axis=1)
y=df.Crop

In [79]:
x=x.apply(pd.to_numeric, errors='coerce').fillna(0, downcast='infer')
x.head()

   Min_Ph  Max_Ph  Min_Temp  Max_Temp  Humidity  smoke
0     0.0     0.0         0         0        77     36
1     0.0     0.0         0         0         4     17
2     0.0     0.0         0         0        98      1
3     0.0     0.0         0         0        48     90
4     0.0     0.0         0         0        69     87

In [80]:
from sklearn.model_selection import  train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    x, y, test_size=0.33, random_state=42)

In [81]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=10, criterion='gini', max_depth=None, min_samples_split=2,
                           min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='auto',
                           max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None,
                           bootstrap=True, oob_score=False, n_jobs=1, random_state=None, verbose=0,
                           warm_start=False, class_weight=None)

In [83]:
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [113]:
recomend=[[1.53,2.53,23,30,40,70]]

In [114]:
y_pred=clf.predict(recomend)

In [115]:
y_pred

array(['Pea-Field, for seed (dry)'], dtype=object)